:root {
  --yellow: rgb(255, 215, 0);
  --red: rgb(225, 28, 28);

  --black-1: rgb(0, 0, 0);
  --black-2: rgb(24, 24, 24);
  --black-3: rgb(39, 42, 45);
  --black-4: rgb(64, 70, 75);

  --gray: rgb(158, 158, 158);

  --white: rgb(255, 255, 255);
}

:root {
  --color-background: var(--black-2);
  --color-background-gradient: linear-gradient(var(--black-2) 50%, var(--black-1));

  --color-theme-gradient-x: linear-gradient(to right, var(--yellow), var(--red));
  --color-theme-gradient-y: linear-gradient(var(--yellow), var(--red));

  --color-heading: var(--white);
  --color-text-light: var(--white);
  --color-text-dark: var(--gray);

  --color-input: var(--black-3);

  --color-border-light: var(--black-4);
  --color-border-dark: var(--black-3);

  --border-radius: 6px;
  --border-radius-lg: calc(var(--border-radius) * 4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  background: var(--color-background);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--black-3) var(--color-background);
}

body {
  min-height: 100vh;
  color: var(--color-text-light);
  background: var(--color-background-gradient);
  line-height: 1.6;
  font-family:
    'DM Sans',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
