@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend+Mega:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --yellow: #ffd700;
  --red: #e11c1c;

  --black-1: #000000;
  --black-2: #181818;
  --black-3: #272a2d;
  --black-4: #40464b;

  --gray: #9e9e9e;

  --white: #ffffff;
}

:root {
  --color-background: var(--black-2);
  --color-background-gradient: linear-gradient(var(--black-2) 50%, var(--black-1));

  --color-theme-gradient-x: linear-gradient(to right, var(--yellow), var(--red));
  --color-theme-gradient-y: linear-gradient(var(--yellow), var(--red));

  --color-heading: var(--white);
  --color-text-light: var(--white);
  --color-text-dark: var(--gray);

  --color-input: var(--black-4);

  --color-border: var(--black-4);

  --border-radius: 6px;
  --border-radius-lg: calc(var(--border-radius) * 4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  background: var(--color-background);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--black-3) var(--color-background);
}

body {
  min-height: 100vh;
  color: var(--color-text-light);
  background: var(--color-background-gradient);
  line-height: 1.6;
  font-family:
    'DM Sans',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
